{% from 'projects/sub_menu.html' import create_project %}
{% extends "projects/base.html" %}
{% block body_id %}body-projects{% endblock %}
{% block page_title %}New Project{% endblock %}

{% block submenu %}
{{ create_project(True) }}
{% endblock %}

{% block content_container %}
<div class="page-header">
    <h2>Create a New Project</h2>
</div>
<form method="POST">
    <fieldset>
        <div class="form-group">
            <label for="name">Project Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ request.form['name'] }}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3">{{ request.form['description'] }}</textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="log_remote_addr" value="1" checked="checked">
                Log a user's IP address
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="log_user_agent" value="1" checked="checked">
                Log a user's user agent
            </label>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-success">Create Project</button>
</form>
{% endblock %}