{% from 'projects/sub_menu.html' import project_details_menu %}
{% extends "projects/base.html" %}
{% block body_id %}body-projects{% endblock %}
{% block page_title %}{{ project.name }}{% endblock %}

{% block submenu %}
{{ project_details_menu(project, 'keys') }}
{% endblock %}

{% block content_container %}
<div class="page-header">
    <h2>Create a New API Key</h2>
</div>
<form method="POST">
    <fieldset>
        <div class="form-group">
            <label>API Key Permission</label>
            <div>
                <label class="checkbox-inline">
                    <input type="checkbox" name="key_permissions" value="allows_logging">
                    Log new events
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="key_permissions" value="allows_querying">
                    Query stored events
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" id="description" name="description" value="{{ request.form['description'] }}">
        </div>
    </fieldset>
    <button type="submit" class="btn btn-success">Create Key</button>
</form>
{% endblock %}