{% extends "projects/base.html" %}
{% block page_title %}Delete project{% endblock %}

{% block submenu %}{% endblock %}

{% block content_container %}
<div class="page-header">
    <h2>Delete project</h2>
</div>
<p class="text-danger lead">Are you sure you want to delete project <b>{{ project.name }}</b>?</p>
<form method="POST">
    <a href="{{ url_for('.project_details', project_slug=project.name_slug) }}" class="btn btn-primary">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete project</button>
</form>
{% endblock %}
