{% extends "projects/base.html" %}
{% block page_title %}Remove member {{ member.user.name }}{% endblock %}

{% block submenu %}{% endblock %}

{% block content_container %}
<div class="page-header">
    <h2>Remove Member from Project</h2>
</div>
<p>Are you sure you want to remove <strong>{{ member.user.name }}</strong> as a member of <strong>{{ member.project.name }}</strong>?</p>
<form method="POST">
    <a href="{{ url_for('.project_members', project_slug=member.project.name_slug) }}" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-danger">Remove user</button>
</form>
{% endblock %}
