{% from 'projects/sub_menu.html' import project_details_menu %}
{% extends "projects/base.html" %}
{% block body_id %}body-projects{% endblock %}
{% block page_title %}{{ project.name }}{% endblock %}

{% block submenu %}
{{ project_details_menu(project, 'events') }}
{% endblock %}

{% block content_container %}
<div class="page-header">
    <h2>Project Overview</h2>
</div>
<div class="combined-graph-controls">
    <ul>
        <li><button data-value="1h" class="btn btn-xs btn-default active">Last hour</button></li>
        <li><button data-value="8h" class="btn btn-xs btn-default">Last 8 hours</button></li>
        <li><button data-value="24h" class="btn btn-xs btn-default">Last 24 hours</button></li>
        <li><button data-value="week" class="btn btn-xs btn-default">Last week</button></li>
        <li><button data-value="month" class="btn btn-xs btn-default">Last month</button></li>
        <li><button data-value="year" class="btn btn-xs btn-default">Last year</button></li>
    </ul>
</div>
<div class="empty-message"></div>
<div class="combined-graph"></div>
<script type="text/javascript" charset="utf-8">
    var project = {{ project.name_slug|tojson }};
    $(function(){
        combinedChart = combinedGraph()
            .width($('.combined-graph').width())
            .height(300)
            .x(function(d){ return d.time; })
            .y(function(d){ return d.count; });

        // Get initial data
        d3.json('/projects/' + project + '/graph', function(data){
            if(data.response){
                $('.empty-message').hide();
                $('.combined-graph-controls').show();
                d3.select('.combined-graph')
                    .datum(data.response)
                    .call(combinedChart);
            } else {
                $('.empty-message').html('<p>There are no events recorded for your project yet.</p>').show();
            }
        });
    });
</script>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Client Configuration</h3>
    </div>
    <div class="panel-body">
        To start sending events to this project, include the following snippet in your HTML page(s):
<pre>
&lt;script&gt;
    (function() {
        var script = document.createElement('script');
        script.async = true;
        script.src = '{{ config['JSSDK_URL'] }}{{ config['JSSDK_FILENAME'] }}';
        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
    })();

    var ILPSLogging_ready = ILPSLogging_ready || [];
    ILPSLogging_ready.push(function(){
        var config = {
            api_url: '{{ request.url_root[:-1] }}',
            project_key: '{{ request.project.access_keys[0].key }}',
            log_mouse_movements: false,
            log_mouse_clicks: true,
            post_events_queue_on_browser_close: true,
            log_browser_close: true,
            debug: false,
        };
        ILPSLogging.init(config, function(){
            console.log('ready for action');
        });
    });
&lt;/script&gt;
</pre>
    </div>
    <div class="panel-footer">For more information on using the JavaScript SDK and REST API, see the <a href="{{ config['DOCS_URL'] }}" target="_blank">documentation</a>.</div>
</div>
{% endblock %}
