{% from 'projects/sub_menu.html' import project_details_menu %}
{% extends "projects/base.html" %}
{% block body_id %}body-projects{% endblock %}
{% block page_title %}{{ project.name }}{% endblock %}

{% block submenu %}
{{ project_details_menu(project, 'edit', member, kibana_url, since, now) }}
{% endblock %}

{% block content_container %}
<div class="page-header">
    <h2>Edit Project</h2>
</div>
<form method="POST">
    <fieldset>
    {% for property in editable_properties %}
        <div class="form-group">
            <label for="{{ property }}">{{ property|capitalize }}</label>
            <textarea class="form-control" id="{{ property }}" name="{{ property }}" rows="3">{{ request.form['{{ property }}'] }}{{ project[property] }}</textarea>
        </div>
    {% endfor %}
        <div class="checkbox">
            <label>
                <input type="checkbox" name="log_remote_addr" value="1" {% if project.log_remote_addr %}checked="checked"{% endif %}>
                Log a user's IP address
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="log_user_agent" value="1" {% if project.log_user_agent %}checked="checked"{% endif %}>
                Log a user's user agent
            </label>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Update Project</button>
</form>
{% endblock %}
