{% from 'projects/sub_menu.html' import project_details_menu %}
{% extends "projects/base.html" %}
{% block page_title %}{{ project.name }}{% endblock %}

{% block submenu %}
{% endblock %}

{% block content_container %}
<div class="page-header">
    <h2>Edit Project Key</h2>
</div>
<!-- <ul class="list-inline project-key-desc">
    <li><strong>Created:</strong> {{ access_key.created_at|format_datetime }}</li>
    <li><strong>Last modified:</strong> {{ access_key.updated_at|format_datetime }}</li>
</ul> -->
<form method="POST" role="form">
    <div class="form-group access-checkboxes">
        <label class="checkbox-inline">
            <input type="radio" name="options-query-type" value="log" id="access_type_1" {{ 'checked' if access_key.allows_logging }}>
            Allow logging
        </label>
        <label class="checkbox-inline">
            <input type="radio" name="options-query-type" value="query" id="access_type_2" {{ 'checked' if access_key.allows_querying }}>
            Allow querying
        </label>
    </div>
    <div class="form-group">
        <label for="key-description">Description</label>
        <input type="text" class="form-control" name="description" placeholder="Description..." id="key-description" value="{{ access_key.description }}">
    </div>
    <a href="{{ url_for('.project_access_keys', project_slug=project.name_slug) }}" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-primary">Update Project Key</button>
</form>
{% endblock %}
