{% extends "projects/base.html" %}
{% block body_id %}body-projects{% endblock %}
{% block page_title %}Projects{% endblock %}

{% block content_container %}
{% if not project_memberships %}
    You don't have any projects yet!
{% else %}
<div id="project-list">
    <ul>
    {% for project in project_memberships %}
        <li>
            <div class="project-detail">
                <h3><a href="{{ url_for('.project_details', project_slug=project.name_slug) }}">{{ project.name }}</a></h3>
                <div class="project-description">{{ project.description }}</div>
                <ul class="project-members">
                    {% for member in project.members %}
                        <li class="project-member" data-toggle="tooltip" data-original-title="{{ member.user.name }}"><img class="img-rounded" src="{{ member.user.get_gravatar() }}" alt="{{ member.user.name }}"/></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="sparkline" id="sparkline_{{ project.id }}"></div>
        </li>
    {% endfor %}
    </ul>
</div>
<script type="text/javascript" charset="utf-8">
    PROJECTS = {{ project_memberships|projects|tojson }};

    $(function(){
        var sparklineChart = sparklineGraph()
            .width($('.sparkline').width())
            .height(120);

        PROJECTS.forEach(function(project){
            d3.json('/projects/' + project.slug + '/sparkline', function(data){
                if(data.response){
                    d3.select('#sparkline_' + project.id)
                        .datum(data.response)
                        .call(sparklineChart)
                }
            });
        });
    });
</script>
{% endif %}
{% endblock %}
