{% from 'projects/sub_menu.html' import project_details_menu %}
{% extends "projects/base.html" %}
{% block body_id %}body-projects{% endblock %}
{% block page_title %}{{ project.name }}{% endblock %}

{% block submenu %}
{{ project_details_menu(project, 'keys') }}
{% endblock %}

{% block content_container %}
<div class="page-header">
    <a href="{{ url_for('.create_access_key', project_slug=project.name_slug) }}" class="btn pull-right btn-success">Add a New Key</a>
    <h2>API Keys {{ kibana_url }}</h2>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Key</th>
            <th style="text-align:center;">Log</th>
            <th style="text-align:center;">Query</th>
            <th style="text-align:center;">Created</th>
            <th style="text-align:center;">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for access_key in project.access_keys %}
        <tr>
            <td>
                <strong>{{ access_key.key }}</strong>
            {% if access_key.description %}
                <br>
                {{ access_key.description }}
            {% endif %}
            </td>
            <td style="text-align:center;vertical-align:middle;">
            {% if access_key.allows_logging %}
                <span class="glyphicon glyphicon-ok"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
            </td>
            <td style="text-align:center;vertical-align:middle;">
            {% if access_key.allows_querying %}
                <span class="glyphicon glyphicon-ok"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
            </td>
            <td style="text-align:center;vertical-align:middle;">{{ access_key.created_at|format_datetime }}</td>
            <td style="text-align:center;vertical-align:middle;"><a href="{{ url_for('.edit_access_key', project_slug=project.name_slug, access_key=access_key.key) }}" class="btn btn-primary btn-xs table-btn">Edit</a><a href="{{ url_for('.revoke_access_key', project_slug=project.name_slug, access_key=access_key.key) }}" class="btn btn-danger btn-xs table-btn">Revoke</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
