{% from 'projects/sub_menu.html' import project_details_menu %}
{% extends "projects/base.html" %}
{% block body_id %}body-projects{% endblock %}
{% block page_title %}{{ project.name }}{% endblock %}

{% block submenu %}
{{ project_details_menu(project, 'members') }}
{% endblock %}

{% block content_container %}
<div class="page-header">
    <h2>Add a New Member</h2>
</div>
<form method="POST">
    <fieldset>
         <div class="form-group">
            <select id="member" name="user_id" class="form-control">
            {% for member in membership_candidates %}
                <option value="{{ member.id }}">{{ member.name }} ({{ member.email }})</option>
            {% endfor %}
            </select>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-success">Add Member</button>
</form>
{% endblock %}
