{% from 'projects/sub_menu.html' import project_details_menu %}
{% extends "projects/base.html" %}
{% block body_id %}body-projects{% endblock %}
{% block page_title %}{{ project.name }}{% endblock %}

{% block submenu %}
{{ project_details_menu(project, 'members') }}
{% endblock %}

{% block content_container %}
<div class="page-header">
    <a href="{{ url_for('.add_project_member', project_slug=project.name_slug) }}" class="btn pull-right btn-success">New Member</a>
    <h2>Members</h2>
</div>
<table class="table table-hover table-striped">
    <colgroup>
        <col width="30px">
        <col>
        <col>
    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for member in project.members %}
        {% if member.user.id == current_user.id|int %}
        <tr>
            <td><img src="{{ member.user.get_gravatar() }}" class="avatar"></td>
            <td>You</td>
            <td></td>
        </tr>
        {% else %}
        <tr>
            <td><img src="{{ member.user.get_gravatar() }}" class="avatar"></td>
            <td>{{ member.user.name }}<br>{{ member.user.email }}</td>
            <td><a class="btn btn-danger" href="{{ url_for('.project_team_delete_member', project_slug=project.name_slug, user_id=member.user.id) }}">Delete</a></td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
