{% macro create_project(active=False) %}
    {% if active %}
    <div id="submenu" class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav nav-tabs pull-right">
            <li id="create-project-btn" class="active">
                <a href="/projects/create" class="btn btn-primary btn-sm">Create a New Project</a>
            </li>
        </ul>
    </div>
    {% else %}
    <div id="submenu" class="navbar navbar-inverse navbar-fixed-top">
        <div id="create-project-btn" class="pull-right">
            <a href="/projects/create" class="btn btn-success btn-sm">Create a New Project</a>
        </div>
    </div>
    {% endif %}
{% endmacro %}

{% macro project_details_menu(project, active_page, member) %}
    {% set menu_items = [
        (url_for('.project_details', project_slug=project.name_slug), 'events', 'Events'),
        (url_for('.project_members', project_slug=project.name_slug), 'members', 'Members'),
        (url_for('.project_access_keys', project_slug=project.name_slug), 'keys', 'API Keys'),
    ] -%}
    {% set active_page = active_page|default('index') -%}

    <div id="submenu" class="navbar navbar-inverse navbar-fixed-top">
        <a href="{{ url_for('.delete_project', project_slug=project.name_slug) }}" class="btn pull-right btn-danger">Delete project</a>
        <h2>{{ project.name }}</h1>
        <ul class="nav nav-tabs">
        {% for url, id, caption in menu_items %}
            <li{% if active_page == id %} class="active"{% endif %}><a href="{{ url }}">{{ caption|e }}</a></li>
        {% endfor %}
        <li><a href="{{ request.kibana_url }}" target="_blank">Kibana</a></li>
        </ul>
    </div>
{% endmacro %}
