body {
    background: #e4e8ed;
    color: #4c6577;
}

section#content {
    margin-top: 90px;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

section#content .page-header {
    margin-top: 0;
}

section#content .page-header h2 {
    font-weight: normal;
    margin-bottom: 0;
}

footer {
    padding: 20px 10px;
}

/* Header */
header.navbar-inverse {
    background: #435a6b;
}

header.navbar-inverse .navbar-nav > li > a {
    color: #bfc6cf;
}

header.navbar-inverse .navbar-nav > .active > a,
header.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #e4e8ed;
    color: #435a6b;
}

header.navbar-inverse a.navbar-brand {
    color: #eff1f4;
    -webkit-transition: color linear 0.2s;
    -moz-transition: color linear 0.2s;
    -o-transition: color linear 0.2s;
    transition: color linear 0.2s;
}

#submenu {
    min-height: 40px;
    line-height: 40px;
    margin-top: 50px;
    background-color: #e4e8ed;
}

#submenu h2 {
    font-size: 16px;
    float: left;
    width: 175px;
    margin: 4px 0 0 0;
    line-height: 40px;
}

#submenu .btn-danger {
    margin-top: 5px;
}

#submenu div#create-project-btn {
    margin-bottom: 3px;
}

#submenu.navbar-inverse .nav-tabs {
    margin: 6px 0 -2px 0;
    border: none;
}

#submenu.navbar-inverse .nav > li > a:hover {
    background: none;
}

#submenu.navbar-inverse .nav-tabs > .active > a,
#submenu.navbar-inverse .nav-tabs > .active > a:hover {
    background-color: #ffffff;
    color: #435a6b;
    font-weight: 400;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

#submenu.navbar-inverse .nav-tabs li > a {
    background-color: none;
    border: none;
    color: #435a6b;
    border-bottom: 1px solid transparent;

}

/* Avatar */
img.avatar {
    border-radius: 3px;
}

/* Project tables */
#body-projects tr img.avatar {
    margin: 2px 0 2px 0;
}

#body-projects tr span.glyphicon-ok {
    color: #47a447;
}

#body-projects tr span.glyphicon-remove {
    color: #d2322d;
}

/* Login */
body#body-login:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 250px;
    content: "";
    background: #435a6b;
    border-bottom: 1px solid #324859;
}

.login-head h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 22px;
    color: #eff1f4;
    -webkit-transition: color linear 0.5s;
    -moz-transition: color linear 0.5s;
    -o-transition: color linear 0.5s;
    transition: color linear 0.5s;
}

.login {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 478px;
    margin: 0 auto;
    padding: 30px 40px;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18), 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18), 0 0 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18), 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.login h1 {
    text-align: center;
    margin-bottom: 25px;
}

/* Projects */
#project-list > ul {
    background: #fff;
    margin: 0;
    padding: 0px;
    list-style: none;
    border: 1px solid #c8c8c8;
    border-color: rgba(0,0,0,0.2);
    webkit-border-radius: 4px;
    moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#project-list > ul > li {
    padding: 10px 15px;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2), 0 0 0 #000;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2), 0 0 0 #000;
    overflow: auto;
}

.project-detail {
    width: 60%;
    float: left;
}

.sparkline {
    width: 30%;
    float: right;
}

.project-members {
    padding: 5px 0px;
}

.project-member {
    float: left;
    width: 40px;
    display: block;
    margin-right: 5px;
}

.project-key-desc > li {
    padding-left: 0px;
}

.table-btn {
    margin: 0px 3px;
}

.access-checkboxes > label {
    padding-left: 0px;
}

.combined-graph > svg .event {
    fill: none;
    stroke-width: 1.5px;
}

.sparkline > svg .line {
    fill: none;
    stroke-width: 1px;
    stroke: #435a6b;
}

.combined-graph > svg .axis path, .combined-graph > svg .axis line {
    fill: none;
    stroke: #e4e8ed;
    shape-rendering: crispEdges;
}

.combined-graph-controls {
    display: none;
}

.empty-message {
    display: none;
}

.empty-message .no-events {
    margin-left: 40px;
    font-size: 18px;
}

.combined-graph-controls > ul {
    list-style: none;
    width: 100%;
    float: left;
}

.combined-graph-controls > ul > li{
    float: left;
    margin-right: 5px;
}
