<div class="modal-body">
    <div class="pull-right editor-title">Dashboard settings</div>
    <div ng-model="editor.index" bs-tabs="">
        <div ng-repeat="tab in ['General','Rows']" data-title="{{tab}}"></div>
    </div>
    <div ng-show="editor.index == 0">
        <div class="row-fluid">
            <div class="span4">
                <label class="small">Title</label>
                <input type="text" class="input-large" ng-model="dashboard.current.title"></div>
            <div class="span1">
                <label class="small">Editable</label>
                <input type="checkbox" ng-model="dashboard.current.editable" ng-checked="dashboard.current.editable"></div>
            <div class="span1">
                <label class="small">
                    Hints
                    <tip>Show 'Add panel' hints in empty spaces</tip>
                </label>
                <input type="checkbox" ng-model="dashboard.current.panel_hints" ng-checked="dashboard.current.panel_hints"></div>
            <div class="span3">
                <label class="small">Style</label>
                <select class="input-small" ng-model="dashboard.current.style" ng-options="f for f in ['dark','light']"></select>
            </div>
        </div>
    </div>
    <div ng-show="editor.index == 1">
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-condensed table-striped">
                    <thead>
                        <th>Title</th>
                        <th>Delete</th>
                        <th>Move</th>
                    </thead>
                    <tr ng-repeat="row in dashboard.current.rows">
                        <td>{{row.title}}</td>
                        <td> <i ng-click="dashboard.current.rows = _.without(dashboard.current.rows,row)" class="pointer icon-remove"></i>
                        </td>
                        <td>
                            <i ng-click="_.move(dashboard.current.rows,$index,$index-1)" ng-hide="$first" class="pointer icon-arrow-up"></i>
                        </td>
                        <td>
                            <i ng-click="_.move(dashboard.current.rows,$index,$index+1)" ng-hide="$last" class="pointer icon-arrow-down"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <form>
                <div class="span5">
                    <label class="small">Title</label>
                    <input type="text" class="input-large" ng-model="row.title" placeholder="New row"></div>
                <div class="span2">
                    <label class="small">Height</label>
                    <input type="text" class="input-mini" ng-model="row.height"></div>
                <div class="span1">
                    <label class="small">Editable</label>
                    <input type="checkbox" ng-model="row.editable" ng-checked="row.editable"></div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="add_row(dashboard.current,row); reset_row();" class="btn btn-success" ng-show="editor.index == 1">Create Row</button>
    <button type="button" class="btn btn-danger" ng-click="editor.index=0;dismiss();reset_panel();dashboard.refresh()">Close</button>
</div>
