<div class="row-fluid container" style="margin-top:10px"><style>.row-panel-filler {
      opacity: 0;
    }
    .row-panel-filler:hover {
      opacity: 0.3;
    }
    .row-name {
    }</style><div class="row-fluid kibana-row" ng-controller="RowCtrl" ng-repeat="(row_name, row) in dashboard.current.rows" ng-style="row_style(row)"><div class="row-control"><div class="row-fluid" style="padding:0px;margin:0px;position:relative"><div class="row-close" ng-show="row.collapse"><span bs-tooltip="'Show row'" data-placement="right" ng-class="{pointer:row.collapsable}" class="row-name label label-inverse" ng-click="toggle_row(row)">{{row.title || 'Row '+$index}}</span> <i bs-tooltip="'Configure row'" data-placement="right" ng-show="row.editable" class="icon-cog pointer editlink" bs-modal="'app/partials/roweditor.html'"></i><div class="clear"></div></div><div class="row-open" ng-show="!row.collapse"><i bs-tooltip="'Hide row'" data-placement="right" ng-class="{pointer:row.collapsable}" class="icon-chevron-up" ng-click="toggle_row(row)"></i><br><i bs-tooltip="'Configure row'" data-placement="right" ng-show="row.editable" class="icon-cog pointer editlink" bs-modal="'app/partials/roweditor.html'"></i></div></div><div class="row-fluid" style="padding-top:0px" ng-hide="row.collapse"><div ng-repeat="(name, panel) in row.panels" ng-hide="panel.span == 0 || panel.hide" class="span{{panel.span}} panel" style="min-height:{{row.height}}; position:relative"><div class="row-fluid"><div class="span12 alert alert-error panel-error" ng-hide="!panel.error"><a class="close" ng-click="panel.error=false">&times;</a> <i class="icon-exclamation-sign"></i> <strong>Oops!</strong> {{panel.error}}</div></div><div class="row-fluid"><kibana-panel type="panel.type" ng-cloak=""></kibana-panel></div></div><div ng-hide="(12-rowSpan(row)) < 1 || !dashboard.current.panel_hints" ng-class="'span'+(12-rowSpan(row))" class="bordered row-panel-filler" style="height:{{row.height}}; position:relative; border: 1px dashed; border-radius: 10px;text-align:center;vertical-align:middle"><span class="pointer addLink" ng-click="editor.index=2" bs-modal="'app/partials/roweditor.html'">Add a panel here<br><i style="font-size:20px" class="icon-plus-sign"></i></span></div></div></div></div></div>