{% set active_page = "projects" %}
{% extends "base_content.html" %}

{% block submenu %}
<div id="submenu" class="navbar navbar-inverse navbar-fixed-top">
    <div id="create-project-btn" class="pull-right">
        <a href="/projects/create" class="btn btn-sm btn-success">Create a New Project</a>
    </div>
</div>
{% endblock %}

{% block messages %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}
