{% extends "base.html" %}
{% from 'header_menu.html' import main_menu %}

{% block body %}
<header class="navbar navbar-inverse navbar-fixed-top">
    {{ main_menu(active_page) }}
</header>

{% block submenu %}{% endblock %}

<section id="content">
    <div class="container">
    {% block messages %}{% endblock %}
    {% block content_container %}{% endblock %}
    </div>
</section>

<footer>
    ILPSLogging - Created by <a href="http://dispectu.com/">Dispectu</a>
</footer>
{% endblock %}