<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}{% endblock %} - ILPSLogging</title>
    {% assets "js_all" -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "css_all" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {%- endassets %}
</head>
<body id="{% block body_id %}{% endblock %}">

{% block body %}{% endblock %}
</body>
</html>
