{% macro main_menu(active_page) %}
    {% set menu_items = [
        ('/projects', 'projects', 'Projects'),
    ] -%}
    {% set active_page = active_page|default('index') -%}

    <a href="/" class="navbar-brand">ILPSLogging</a>
    <ul class="nav navbar-nav">
    {% for href, id, caption in menu_items %}
        <li{% if active_page == id %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
    {% endfor %}
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li><a href="/logout">Logout</a></li>
    </ul>
{% endmacro %}