{% extends "base.html" %}
{% block body_id %}body-login{% endblock %}
{% block page_title %}Login{% endblock %}

{% block body %}
<section class="login-head">
    <h1>ILPSLogging</h1>
</section>
<section class="login">
    <h1>Login</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form id="login-form" method="POST">
        <div class="form-group">
            <input class="form-control input-lg" type="text" name="username" tabindex="1" placeholder="Email" value="{{ request.form.username }}">
        </div>
        <div class="form-group">
            <input class="form-control input-lg" type="password" name="password" tabindex="2" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success btn-lg">Login</button>
        <a class="btn" href="{{ url_for('.user_register') }}">Create a new account</a>
    </form>
</section>
{% endblock %}
