{% extends "base.html" %}
{% block body_id %}body-projects{% endblock %}
{% block page_title %}Projects{% endblock %}

{% block content_container %}
{% if not project_memberships %}
    You don't have any projects yet!
{% endif %}

<div id="project-list">
    <ul>
    {% for project in project_memberships %}
        <li><a href="/projects/{{ project.name_slug }}">{{ project.name }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}